accelerate==0.15.0
albucore==0.0.16
albumentations==1.3.1
altair==4.2.2
astropy==6.1.4
autograd==1.7.0
bigframes==1.22.0
bigquery-magics==0.4.0
bitsandbytes==0.41.3.post2
blinker==1.4
Bottleneck==1.4.1
cmake==3.30.4
community==1.0.0b1
cudf-cu12 @ https://pypi.nvidia.com/cudf-cu12/cudf_cu12-24.10.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl
cufflinks==0.17.3
cvxopt==1.3.2
cvxpy==1.5.3
dadaptation==1.5
dask==2024.8.2
datascience==0.17.6
dbus-python==1.2.18
debugpy==1.6.6
distro==1.7.0
dlib==19.24.2
dopamine_rl==4.0.9
duckdb==1.1.2
easydict==1.13
editdistance==0.8.1
einops==0.6.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
eval_type_backport==0.2.0
fairscale==0.4.13
fastai==2.7.17
firebase-admin==6.5.0
ftfy==6.1.1
gallery-dl==1.25.1
GDAL==3.6.4
gdown==4.7.1
geemap==0.34.5
gensim==4.3.3
geopy==2.4.1
glob2==0.7
google==2.0.3
google-cloud-aiplatform==1.70.0
google-cloud-bigquery-storage==2.27.0
google-cloud-datastore==2.19.0
google-cloud-language==2.13.4
google-cloud-translate==3.15.5
google-colab @ file:///colabtools/dist/google_colab-1.0.0.tar.gz
google-generativeai==0.8.3
googledrivedownloader==0.4
graphviz==0.20.3
gspread-dataframe==3.3.1
holoviews==1.19.1
httpimport==1.4.0
hyperopt==0.2.7
imbalanced-learn==0.12.4
imgaug==0.4.0
imjoy-elfinder==0.1.61
imutils==0.5.4
inflect==7.4.0
ipython-sql==0.5.0
jax-cuda12-plugin==0.4.33
jeepney==0.7.1
jieba==0.42.1
jupyter-console==6.1.0
kaggle==1.6.17
kagglehub==0.3.2
launchpadlib==1.10.16
library @ file:///content/kohya-trainer
librosa==0.10.2.post1
lightgbm==4.5.0
lion-pytorch==0.0.6
lycoris_lora==0.1.4
matplotlib-venn==1.1.1
missingno==0.5.2
mkl==2024.2.2
mlxtend==0.23.1
moviepy==1.0.3
music21==9.1.0
natsort==8.4.0
nibabel==5.2.1
nvidia-cuda-nvcc-cu12==12.6.77
nx-cugraph-cu12 @ https://pypi.nvidia.com/nx-cugraph-cu12/nx_cugraph_cu12-24.10.0-py3-none-any.whl
opencv-contrib-python==4.10.0.84
openpyxl==3.1.5
pandas-datareader==0.10.0
pandas-gbq==0.23.2
pandas-stubs==2.2.2.240909
parso==0.8.4
pathlib==1.0.1
pipdeptree==2.23.4
plotnine==0.13.6
polars==1.7.1
progressbar2==4.5.0
prophet==1.1.6
psycopg2==2.9.9
pyarrow-hotfix==0.6
pycocotools==2.0.8
pydot==3.0.2
pydotplus==2.0.2
PyDrive==1.3.1
PyDrive2==1.20.0
pygit2==1.15.1
PyGObject==3.42.1
pymc==5.16.2
pymystem3==0.2.0
PyOpenGL==3.1.7
PySocks==1.7.1
pyspark==3.5.3
pytest==7.4.4
python-apt==0.0.0
python-louvain==0.16
pytorch-lightning==1.9.0
requirements-parser==0.9.0
rpy2==3.4.2
SecretStorage==3.3.1
sentencepiece==0.2.0
shap==0.46.0
sklearn-pandas==2.2.0
Sphinx==5.0.2
tables==3.8.0
tensorflow-datasets==4.9.6
tensorflow-hub==0.16.1
textblob==0.17.1
timm==0.6.12
torchaudio @ https://download.pytorch.org/whl/cu121_full/torchaudio-2.4.1%2Bcu121-cp310-cp310-linux_x86_64.whl
torchsummary==1.5.1
tweepy==4.14.0
vega-datasets==0.9.0
voluptuous==0.13.1
wadllib==1.3.6
wandb==0.18.3
wordcloud==1.9.3
xformers==0.0.28.post1
xgboost==2.1.1
xlrd==2.0.1
yellowbrick==1.5
yfinance==0.2.44
